* {
  font-family: Helvetica, sans-serif;
}

body {
  width: 100%;
  margin: 0;
}

.linkGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 33% 33% 33%;
  height: 100vh;
  margin: 0;
  z-index:1;
  grid-gap:0;
  overflow:hidden;
}

.linkSection {
  width: 66%;
  float:left;

}

.box {
  text-align: center;
}

.box1 {
  grid-column: 1/ span 3;
  grid-row: 1;
  background-color: #89E83C;

}

.box2 {
  grid-column: 3;
  grid-row: 1;
  background-color: #E5D81D;
}

.box3 {
  grid-column: 1;
  grid-row: 2;
  background-color: #44AF69;
}

.box4 {
  grid-column: 2;
  grid-row: 2;
  background-color: #F8333C;
}

.box5 {
  grid-column: 3;
  grid-row: 2;
  background-color: #FCAB10;
}

.box6 {
  grid-column: 1;
  grid-row: 3;
  background-color: #89E83C;
}

.box7 {
  grid-column: 2;
  grid-row: 3;
  background-color: #E5D81D;
}

.box8 {
  grid-column: 3;
  grid-row: 3;
  background-color: #44AF69;
}

.imageSection {
 /* overflow: hidden;
  display: inline-block;
  width: 35%;
  height: 100vh;*/
  float: left;
 /* background-image: url("images/taco-558254_1280.jpg")*/;
}

.icon {
  height:100px;
  width:100px;
}

h1 {
  font-family: Gloria Hallelujah;
  font-size: 36px;
  margin: 0;
  padding: 0;
  width: 400px;
}

h2 {
  font-family: Gloria Hallelujah;
  font-size: 28px;
  margin: 0;
  padding: 0;
  width: 400px;
}

.box1 p {
  width: 400px;
}

.box1 div {
  justify-content: center ;
}

h3 {
  vertical-align: bottom;
}